/* a minimalist set of CSS resets */

/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  h1 {
    font-family: verda,arial,sans-serif;
    color:lime;
  }
  
  p {
    color:lime;
  }
  
  /* adjust typography defaults */
  body {
    background-color: #000000;
    color:black;
    margin: 2rem;
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  button {
    padding:10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
  }
  
  #gameButtonArea > button {
    width:200px;
    height:200px;
    margin:20px;
    padding-left: 200px;
    padding-right: 50px;

  }
  
  .hidden {
    display: none;
  }
  
  
  
  #button1 {
    background: lightgreen;
  }
  
  #button1:active, #button1.lit {
    background-image: url("Assets/monkey.jpeg");
    background-size: 100%;
  }
  
  #button2 {
    background: lightblue;
  }
  
  #button2:active, #button2.lit {
    background-image: url('Assets/panda.jpeg');
    background-size: 100%;
  }
  
  #button3 {
    background: pink;
  }
  
  #button3:active, #button3.lit {
    background-image: url('Assets/rabbit.jpeg');
    background-size: 100%;
  }
  
  #button4 {
    background: lightyellow;
  }
  
  #button4:active, #button4.lit {
    background-image: url('Assets/owl.jpeg');
    background-size: 100%;
  }
  
  #button5 {
    background: orange;
  }
  
  #button5:active, #button5.lit {
    background-image: url('Assets/chipmunk.jpeg');
    background-size: 100%;
  }
  
  #button6 {
    background: lightgrey;
  }
  
  #button6:active, #button6.lit {
    background-image: url('Assets/tiger.jpeg');
    background-size: 100%;
  }
  
  #button7 {
    background: lightcoral;
  }
  
  #button7:active, #button7.lit {
    background-image: url('Assets/deer.jpeg');
    background-size: 100%;
  }
  
  #button8 {
    background: plum;
  }
  
  #button8:active, #button8.lit {
    background-image: url('Assets/zebra.jpeg');
    background-size: 100%;
  }
  
  /* images and videos max out at full width */
  img,
  video {
    height: auto;
    max-width: 100%;
  }
